/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin-left: auto;
     margin-right: auto;
     margin-top: 150px;
     text-align: center;
     background-image: url("https://i.imgur.com/d9hJ6kP.jpg");
     background-size: cover;
     color: white;
}

button {
     margin: auto;
     color: black;
     background-color: white;
}


section {
     justify-content: center;
     display: grid;
     gap: 1px;
     grid-template-columns: 150px 150px 150px;
     grid-template-rows: 150px 150px 150px;
}

div {
     background-color: white;
     display: flex;
     width: 100%;
     border: 3px solid rgb(255, 255, 255);
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
